body {
    background-color: rgb(45, 99, 118);
}
main {
    margin: auto;
    margin-top: 200px;
    width: 90%;
    text-align: center;
    display: flex;
}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
p {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.count-div {
    text-align: center;
    margin: auto;
    width: 20%;
    color: white;
    margin-bottom: 20px;
}
.wrong {
    background-color: rgb(188, 109, 109);
}
.correct {
   background-color: rgb(35, 140, 185);
}
.selected {
    background-color: rgb(120, 204, 190);
}
.show-results {
    margin: auto;
    margin-top: 90px;
    margin-left: 80px;
    color: white;
}
.retry-btn {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    border: none;
    border-radius: 10px 10px;
    font-size: 35px;
    color:rgb(35, 140, 185);
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
#main-game {
    margin: auto;
    width: 70%;
}
#text-pharaph {
    user-select: none;
    font-size: 30px;
    border: none;
    border-radius: 10px 10px;
    width: 1140px;
    color:rgb(192, 216, 237);
    background-color: rgb(67, 96, 112);
}
#count-section {
    border-radius: 10px 10px;
    height: 70px;
    display: flex;
    width: 95%;
    margin-left: 5%;
    background-color: rgb(35, 140, 185);
}
#text-section {
    border-radius: 20px 20px;
    width:100%;
    height: 300px;
    margin: auto;
    margin-left: 5%;
}
#play-btn {
    font-size: 30px;
    width: 20%;
    height: 60px;
    border: none;
    border-radius: 10px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgb(35, 140, 185);
}
#results-window {
    border-radius: 20px 20px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    width: 600px;
    height: 300px;
    background-color:  rgb(35, 140, 185);
}